build:host --cxxopt='-std=c++17'
build:host --cxxopt='-Wall'
build:host --copt='-Wall'
build:host --copt='-DSUPRUGLUE_TEST32'

# Things I tried to get bazel 7.0.0 to work
#build:host --cpu=darwin_x86_64
#build:host --apple_platform_type=macos

# linker_files not working, can't sandbox the `ar` step
#build --spawn_strategy=standalone

build:pru0 --crosstool_top=//tools/toolchain:clpru_suite
build:pru0 --cpu=pru
build:pru0 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:pru0 --platforms //tools/toolchain:real_pru
build:pru0 --copt='-DSUPRUGLUE_AM335X'
build:pru1 --copt='-DSUPRUGLUE_PRU_NUM=0'
build:pru0 --copt='--opt_level=4'
build:pru0 --copt='--opt_for_speed=0'

build:pru1 --crosstool_top=//tools/toolchain:clpru_suite
build:pru1 --cpu=pru
build:pru1 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:pru1 --platforms //tools/toolchain:real_pru
build:pru1 --copt='-DSUPRUGLUE_AM335X'
build:pru1 --copt='-DSUPRUGLUE_PRU_NUM=1'
build:pru1 --copt='--opt_level=4'
build:pru1 --copt='--opt_for_speed=0'

build:arm --platforms @io_bazel_rules_go//go/toolchain:linux_arm

test --test_output=all --test_arg=--verbose
