[submodule "kernel/ti-linux-kernel-dev"]
	path = kernel/ti-linux-kernel-dev
	url = git@github.com:RobertCNelson/ti-linux-kernel-dev.git
[submodule "kernel/linux"]
	path = kernel/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
