[submodule "kernel/BeagleBoard-DeviceTrees"]
	path = kernel/BeagleBoard-DeviceTrees
	url = https://github.com/beagleboard/BeagleBoard-DeviceTrees.git
	branch = v6.18.x
[submodule "kernel/bb-kernel"]
	path = kernel/bb-kernel
	url = https://github.com/RobertCNelson/bb-kernel.git
	branch = am33x-v6.18
